# Git
.git
.gitignore

# Docker
.docker

# Python
SoundUNder_search_ms/__pycache__/
SoundUNder_search_ms/*/__pycache__/
SoundUNder_search_ms/*/*/__pycache__/
SoundUNder_search_ms/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/